.icon {
    margin-top: 200px;
    text-align: center;
    width: 130px;
    height: 160px;
    position: absolute;
    -webkit-transition: .35s ease-in-out; /* Safari */
    transition: .35s ease-in-out;
}


.icon:hover {
    -webkit-transform: scale(1.35); /* Safari */
    transform: scale(1.35);
}

.iconlink {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.0);
    transition: box-shadow 0.3s ease-in-out;
}

.icon:hover > .iconlink {
    box-shadow: 0 7px 15px rgba(0,0,0,0.5);
}

body {
    background-color: #f6fcff;
}

p, label {
    font-family: sans-serif;
    font-style: normal;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 2px;
    text-align: center;
    color: #5d5d5d;
}

.about-text {
    font-family: sans-serif;
    font-style: normal;
    text-transform: none;
    font-size: 18px;
    letter-spacing: normal;
    color: #5d5d5d;
    text-align: left;
    padding-left: 75px;
    padding-right: 75px;
}

.about-image {
    float: left;
    width: 200px;
    height: 200px;
    padding: 35px 35px 35px 70px;
}

.about-section-header {
    text-align: unset;
    padding-left: 70px
}

.infoLink {
    padding-right: 20px;
    text-decoration: none;
}

a {
    font-family: sans-serif;
    font-style: normal;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    color: #527fec;
    cursor: pointer;
}

.about-link {
    font-family: sans-serif;
    font-style: normal;
    font-size: 18px;
    text-transform: none;
    text-decoration: none;
    color: #527fec;
    cursor: pointer;
    letter-spacing: 0;
}

.about-container {
    padding-top: 40px;
}

.paddedIcon {
    padding-right: 5px;
}

.iconLabel {
    font-family: sans-serif;
    font-style: normal;
    font-size: 15px;
    padding-top: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    bottom: 0;
    opacity: 0;
    color: #5d5d5d;
    -webkit-transition: .35s ease-in-out; /* Safari */
    transition: .35s ease-in-out;
}

.icon:hover > .iconLabel {
    opacity: 1;
}

h1 {
    font-family: sans-serif;
    font-style: normal;
    color: #4499b5;
    padding-top: 40px;
    margin: 0;
    font-size: 100px;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
}

.about-header {
    padding-top: 20px;
}

.modal {
    display: none;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 8px;
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    padding: 20px;
    position: relative;
}

.centered {
    text-align: center;
}

.link-line {
    padding-top: 20px;
}

.error {
    color: crimson;
    padding: 20px;
}

.loading {
    text-align: center;
    z-index: 2;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
